/* ===============================================================================
   SMART OFFICE GLOBAL
=============================================================================== */

/* RESET */
*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* HTML */
html{
    font-size:16px;
    scroll-behavior:smooth;
}

/* BODY */
body{
    font-family:'Plus Jakarta Sans',sans-serif;
    background:#f8fafc;
    color:#1e293b;
    overflow-x:hidden;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    text-rendering:optimizeLegibility;
}

/* FORM */
button,
input,
select,
textarea{
    font:inherit;
}

button{
    cursor:pointer;
    -webkit-tap-highlight-color:transparent;
}